*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main.main  {
    height: 500px;
    background-color: #84eba6;
    color: #7465c7;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
main.main  .siteNeme {
    font-size: 45px;
    font-weight: 700;
}
main.main p  {
    margin-right: 100px;
}
main.main p a {
    font-size: 20spx;
    text-decoration: none;
    color: rgb(92, 66, 206);
}