*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
html{height: 100%;}
body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(200, 193, 201);
}
h1,h2,h3,h4,h5,h6,p
{
    line-height: 1.5;
    margin: 0;

}
h3
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
   font-weight:600;
   text-align: center;
   color: rgb(6, 91, 62);

}
h4
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 900;
    color: rgb(217, 17, 214);   
}
h5
{
     font-family: 'Times New Roman', Times, serif;
     font-size: 16px;
     font-weight: 600;
     text-align: center;
}
h6
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

}
p
{
    line-height: 2;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
    text-indent: 1.5em;
}
img
{
    width: 800px;
    border: radius 5px;
    margin: 10px 0;
}
.container
{
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: antiquewhite;
   align-items: center
}
.main-content
{
    width: 100%;
    max-width: 800px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.link
{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
footer
{
    width: 100%;
    max-width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}
.col-l
{
    display: block;
  padding: top 2px;
  text-align: center;
}
